/* CSS declarations go here */
/*
* Globals
*/

/* Links */
a.bright,
a.bright:focus,
a.bright:hover {
  color: #fff;
}

/* Custom default button */
.site-wrapper .btn-default,
.site-wrapper .btn-default:hover,
.site-wrapper .btn-default:focus, .dropdown-menu {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
* Base structure
*/

html,
body {
  height: 100%;
}
.site-wrapper {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;

}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
* Header
*/
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-wrapper .nav > li {
  margin-top:6px;
}

.site-wrapper .nav > li > a {
  font-weight:bold;
  color: rgba(255, 255, 255, 0.74902);
}

.masthead-nav {
  margin-right:20px;
}

.masthead-nav > li {
  display: inline-block;
  margin-top:5px;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.additional-nav > li > a:hover,
.additional-nav > li > a:focus,
.additional-nav > li > a[aria-expanded="true"] {
  background-color:white;
  color:black !important;
  text-shadow:none;
  border-radius:4px;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead .nav {
    float: right;
  }
}


/*
* Cover
*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
* Footer
*/

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}

body.loggedIn  {
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
  width:100%;
  height:auto;
  min-height:100%;
}

/* Block Grids */
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*="block-grid-"] {
  display: block;
  margin: -(30px/2);
  padding: 0;
  @include clearfix();
}

.block-grid-item {
  display: inline;
  margin: 0;
  padding: (30px/2);
  height: auto;
  float: left;
  list-style: none;
}

@mixin block-grid ($per-row) {
  & > .block-grid-item {
    width: (100%/$per-row);

    $nth-equation: #{$per-row}n+'+'+1;
    &:nth-of-type(n) { clear: none; }
    &:nth-of-type(#{$nth-equation}) { clear: both; }
  }
}

@mixin block-grids($size) {
  .block-grid-#{$size}-1  { @include block-grid(1);  }
  .block-grid-#{$size}-2  { @include block-grid(2);  }
  .block-grid-#{$size}-3  { @include block-grid(3);  }
  .block-grid-#{$size}-4  { @include block-grid(4);  }
  .block-grid-#{$size}-5  { @include block-grid(5);  }
  .block-grid-#{$size}-6  { @include block-grid(6);  }
  .block-grid-#{$size}-7  { @include block-grid(7);  }
  .block-grid-#{$size}-8  { @include block-grid(8);  }
  .block-grid-#{$size}-9  { @include block-grid(9);  }
  .block-grid-#{$size}-10 { @include block-grid(10); }
  .block-grid-#{$size}-11 { @include block-grid(11); }
  .block-grid-#{$size}-12 { @include block-grid(12); }
}

@include block-grids(xs);
@media (min-width: 768px) { @include block-grids(sm) }
@media (min-width: 992px) { @include block-grids(md) }
@media (min-width: 1200px) { @include block-grids(lg) }

/* Icons */
.icon {
  position:relative;
}

.icon h2 {
  background:white;
  color:black;
  padding:4px;
  opacity:0.9;
  margin-top:0px;
  font-size:20px;
}

.icon a {
  text-decoration:none !important;
}

.icon img {
  width:100%;
}

@media (min-width: 768px) {
  .icon img {
    transform: translate3d(0,0,0);
  }

  .icon img:hover {
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
  }

  .icon img:hover ~ h2 {
    top:210px;
    left:45px;
    margin-left:30px;
    margin-right:30px;
    -webkit-transition-property: left top margin-left margin-right height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
  }
}



.navbar ~ * {
  padding-top:60px;
}

.st-content, .list {
  margin-top:20px;
}

.st-container {
  position:absolute;
  height:100%;
  width:100%;
}

@media (max-width:767px) {
  .st-menu {
    position:relative;
    left:-100%;
    transform: translate3d(0,0,0);
  }

  .st-menu-open {
    position:absolute;
    left:0;
    width:100%;
    height:auto;
  }

  .st-content {
    position:absolute !important;
    top:0;
    width:100%;
  }

  .panel.panel-primary, .panel-heading, .panel-body, .panel .list-group li {
    border-radius:0px !important;
  }

  .st-content {
    margin-top:0px;
    padding-right:0px !important;
    padding-left:0px !important;
  }
}

.st-menu {
  padding-top:10px;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  /*position: absolute;
  top: 0;
  left: 0;*/
  z-index: 100;
  /*visibility: hidden;*/
  height: 100%;
  background: #48a770;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  /*position: absolute;
  top: 0;
  right: 0;*/
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  font-size: 2em;
  padding: 1em;
}

.st-menu h2, .st-menu small {
  font-weight: 300;
  margin: 0;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
  text-decoration:none;
}

/* Effect 12: Open door */

.st-effect-12.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-12 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
  display: none;
}

.panel-primary > .panel-heading, .panel-primary > .panel-heading > .panel-title {
  background-color:#694489 !important;
  border-color:#694489 !important;
}

.panel-primary {
  border-color:#694489 !important;
  overflow:hidden !important;
  background-color:#694489 !important;
}

.panel-primary > .panel-heading a:hover {
  color:white !important;
}

.panel-primary > .panel-heading a i {
  padding-top:9px;
}

.panel-body {
  background-color:white !important;
}

a {
  color:#48a770;
}

a:hover {
  color: #295A3E;
}

.panel-primary {
  border-radius:7px !important;
}

.panel h3:not(.popover-title) {
  font-size:18px;
  font-weight:200;
  text-transform:none;
  display:inline;
}

/* YouTube */
.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.maxi {
  width:100%;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}

.questions > .row{
  margin-top:8px;
}

.options > .input-group {
  margin-bottom:8px;
}

.question button {
  margin-top:6px;
}

.handle {
  cursor:move;
}

.ghost {
  visibility:hidden;
}

.btn.accent {
  text-transform:none;
  font-size:18px;
}

.vocab-quiz *, .vocab-quiz input:focus {
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-left:0px;
  border-top:0px;
  text-overflow:ellipsis;
  height:30px;
}

.vocab-quiz-long input, .vocab-quiz-long input:focus {
  border-right:0;
}

.vocab-quiz input {
  outline:none;
}



.vocab-quiz div {
  line-height:30px;
  white-space:nowrap;
  overflow:hidden;
  background-color:goldenrod;
}


.vocab-quiz input.correct {
  background-color:lightgreen;
}

.vocab-quiz input.incorrect {
  background-color:#ef3d47;
}

.vocab-quiz *:nth-child(-n+2), .vocab-quiz *:nth-child(-n+2):focus {
  border-top:1px solid black;
}

@media screen and (max-width:969px) {
  .vocab-quiz *:nth-child(2n) {
    border-right-width: 0px;
  }
}

@media screen and (min-width:970px) and (max-width:1200px) {
  .vocab-quiz *:nth-child(4n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4):focus {
    border-top:1px solid black;
  }
}

@media screen and (min-width:1200px) {
  .vocab-quiz *:nth-child(6n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6):focus {
    border-top:1px solid black;
  }
}

.text-lg {
  font-size:36px;
}

.shuffle, .rss {
  margin-right:5px;
}

.domain {
  fill: none;
  stroke: black;
  stroke-width: 1;
}

/* CROSSWORDS */

.crossword {
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  clear:both;
  margin-top:10px;
  margin-bottom:10px;
}

.crossword td {
  border:1px solid #aaa;
  padding:0;
  margin:0;
  vertical-align:middle;
  padding:0;
  text-align:center;
  width:40px;
  height:40px;
  position:relative;
  background:white;
}

.crossword .start {
  cursor:pointer;
}

.crossword td span {
  color: #444;
  font-weight:normal;
  font-size:0.5em !important;
  position: absolute;
  top: -1px;
  left: 1px;
}

.crossword .no-border {
  background-color:#333;
}

.crossword td  {
  padding-top:2px;
  color:green;
  font-weight:bold;
  font-size:25px;
}

button:focus {
  outline:0 !important;
}

.grey {
  background-color:#f9f9f9;
}

.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: auto;
  bottom: 20px;
  right: 5px;
  z-index: 0;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes tansformAnimation {
  from {
    font-size: 50px;
  }
  to {
    font-size: 60px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 50px;
  }
  to {
    font-size: 60px;
  }
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}

.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}

/* SIDEBAR */
.sidebar {
  margin-top:4px;
  margin-bottom: 5px;
  background-color: rgb(244, 244, 244);
  height:100%;
}
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-right: 1px solid rgb(219, 219, 219);
}

.sidebar .sidebar-menu > li.active {
  background-color:white;
}

.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(219, 219, 219);

}
.sidebar .sidebar-menu > li > a {
  color:#777;
  padding: 12px 5px 12px 15px;
  display: block;
  cursor:pointer;
}

.sidebar .sidebar-menu > li:hover > a {
  text-decoration:none !important;
  color:#111;
}

.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
  color:#777;
}

.sidebar .sidebar-menu .treeview-menu > li:hover > a {
  text-decoration:none !important;
  color:#111;
}

.sidebar .sidebar-menu .treeview-menu > li > a > .fa,
.sidebar .sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}

.full {
  padding:0px !important;
  height:100%;
}

.list, .admin {
  height:100%;
}

.select2-container {
  width:100% !important;
}

.container-fluid.admin {
  position:absolute;
  width:100%;
  height:calc(100% - 4px);
  top:0;
  left:0;
  display:block;
}

.container-fluid.admin > .row {
  height:100%;
}

.container-fluid.admin .content {
  margin-top:20px;
}

label.checkbox {
  margin-left:20px;
}

textarea {
  resize:vertical;
}

.panel-primary button {
  margin-top:0;
  margin-bottom:0;
}

.panel-primary .panel-title {
  vertical-align:middle;
}

.toggle {
  margin-right:5px;
}

.content-header {
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  width:100%;
}
