/* CSS declarations go here */
/*
* Globals
*/

/* Links */
a.bright,
a.bright:focus,
a.bright:hover {
  color: #fff;
}

/* Custom default button */
.site-wrapper .btn-default,
.site-wrapper .btn-default:hover,
.site-wrapper .btn-default:focus, .dropdown-menu {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
* Base structure
*/

html,
body {
  height: 100%;
}
.site-wrapper {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;

}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
* Header
*/
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-wrapper .nav > li {
  margin-top:6px;
}

.site-wrapper .nav > li > a {
  font-weight:bold;
  color: rgba(255, 255, 255, 0.74902);
}

.masthead-nav {
  margin-right:20px;
}

.masthead-nav > li {
  display: inline-block;
  margin-top:5px;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.additional-nav > li > a:hover,
.additional-nav > li > a:focus,
.additional-nav > li > a[aria-expanded="true"] {
  background-color:white;
  color:black !important;
  text-shadow:none;
  border-radius:4px;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead .nav {
    float: right;
  }
}


/*
* Cover
*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
* Footer
*/

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}

.main  {
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
  width:100%;
  height:auto;
  min-height:100%;
}

/* Block Grids */
[class*="block-grid-"] {
  display: block;
  margin: -15px;
  padding: 0;
}
[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
  content: " ";
  display: table;
}
[class*="block-grid-"]:after {
  clear: both;
}
.block-grid-item {
  display: inline;
  margin: 0;
  padding: 15px;
  height: auto;
  float: left;
  list-style: none;
}
.block-grid-xs-1 > .block-grid-item {
  width: 100%;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(1n+1) {
  clear: both;
}
.block-grid-xs-2 > .block-grid-item {
  width: 50%;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(2n+1) {
  clear: both;
}
.block-grid-xs-3 > .block-grid-item {
  width: 33.333333333333336%;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(3n+1) {
  clear: both;
}
.block-grid-xs-4 > .block-grid-item {
  width: 25%;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(4n+1) {
  clear: both;
}
.block-grid-xs-5 > .block-grid-item {
  width: 20%;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(5n+1) {
  clear: both;
}
.block-grid-xs-6 > .block-grid-item {
  width: 16.666666666666668%;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(6n+1) {
  clear: both;
}
.block-grid-xs-7 > .block-grid-item {
  width: 14.285714285714286%;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(7n+1) {
  clear: both;
}
.block-grid-xs-8 > .block-grid-item {
  width: 12.5%;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(8n+1) {
  clear: both;
}
.block-grid-xs-9 > .block-grid-item {
  width: 11.11111111111111%;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(9n+1) {
  clear: both;
}
.block-grid-xs-10 > .block-grid-item {
  width: 10%;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(10n+1) {
  clear: both;
}
.block-grid-xs-11 > .block-grid-item {
  width: 9.090909090909092%;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(11n+1) {
  clear: both;
}
.block-grid-xs-12 > .block-grid-item {
  width: 8.333333333333334%;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(12n+1) {
  clear: both;
}
@media (min-width: 768px) {
  .block-grid-sm-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-sm-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-sm-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-sm-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-sm-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-sm-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-sm-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-sm-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-sm-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-sm-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-sm-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-sm-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-sm-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-sm-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-sm-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-sm-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-sm-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-sm-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-sm-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-sm-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-sm-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-sm-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-sm-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-sm-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .block-grid-md-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-md-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-md-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-md-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-md-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-md-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-md-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-md-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-md-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-md-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-md-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-md-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-md-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-md-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-md-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-md-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-md-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-md-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-md-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-md-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-md-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-md-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-md-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-md-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .block-grid-lg-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-lg-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-lg-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-lg-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-lg-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-lg-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-lg-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-lg-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-lg-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-lg-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-lg-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-lg-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-lg-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-lg-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-lg-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-lg-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-lg-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-lg-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-lg-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-lg-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-lg-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-lg-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-lg-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-lg-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}

/* Icons */
.icon img {
  width:100%;
}

@media (min-width: 768px) {
  .icon img:hover {
    padding-top:30px;
    padding-bottom:30px;
    padding-left:30px;
    padding-right:30px;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 0.5s;
  }
}



.navbar ~ * {
  padding-top:60px;
}

.grid, .st-content {
  padding-top:20px;
}

.st-menu {
  padding-top:10px;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu {
  /*position: absolute;
  top: 0;
  left: 0;*/
  z-index: 100;
  /*visibility: hidden;*/
  height: 100%;
  background: #48a770;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.st-menu::after {
  /*position: absolute;
  top: 0;
  right: 0;*/
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-menu h2 {
  font-size: 2em;
  padding: 1em;
}

.st-menu h2, .st-menu small {
  font-weight: 300;
  margin: 0;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.st-menu ul li a {
  display: block;
  padding: 1em 1em 1em 1.2em;
  outline: none;
  box-shadow: inset 0 -1px rgba(0,0,0,0.2);
  color: #f3efe0;
  text-transform: uppercase;
  text-shadow: 0 0 1px rgba(255,255,255,0.1);
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
  transition: background 0.3s, box-shadow 0.3s;
}

.st-menu ul li:first-child a {
  box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu ul li a:hover {
  background: rgba(0,0,0,0.2);
  box-shadow: inset 0 -1px rgba(0,0,0,0);
  color: #fff;
  text-decoration:none;
}

/* Effect 12: Open door */

.st-effect-12.st-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
}

.st-effect-12 .st-pusher {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.st-effect-12.st-menu-open .st-pusher {
  -webkit-transform: rotateY(-10deg);
  transform: rotateY(-10deg);
}

.st-effect-12.st-menu {
  opacity: 1;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.st-effect-12.st-menu-open .st-effect-12.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.st-effect-12.st-menu::after {
  display: none;
}

.st-container .panel-primary > .panel-heading {
  background-color:#694489;
  border-color:#694489;
}

.st-container .panel-primary {
  border-color:#694489;
  overflow:hidden;
  background-color:#694489;
}

.st-container .panel-primary > .panel-heading a:hover {
  color:white;
}

.st-container .panel-primary > .panel-heading a i {
  padding-top:9px;
}

.st-container .panel-body {
  background-color:white;
}

a {
  color:#48a770;
}

a:hover {
  color: #295A3E;
}

.st-container .panel {
  border-radius:7px;
}

.st-container .panel h3 {
  font-size:18px;
  font-weight:200;
  text-transform:none;
  display:inline;
}

/* YouTube */
.youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.maxi {
  width:100%;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
}

.questions > .row{
  margin-top:8px;
}

.options > .input-group {
  margin-bottom:8px;
}

.question button {
  margin-top:6px;
}

.handle {
  cursor:move;
}

.ghost {
  visibility:hidden;
}

.btn.accent {
  text-transform:none;
  font-size:18px;
}

.vocab-quiz *, .vocab-quiz input:focus {
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-left:0px;
  border-top:0px;
  text-overflow:ellipsis;
  height:30px;
}

.vocab-quiz-long input, .vocab-quiz-long input:focus {
  border-right:0;
}

.vocab-quiz input {
  outline:none;
}



.vocab-quiz div {
  line-height:30px;
  white-space:nowrap;
  overflow:hidden;
  background-color:goldenrod;
}


.vocab-quiz input.correct {
  background-color:lightgreen;
}

.vocab-quiz input.incorrect {
  background-color:#ef3d47;
}

@media screen and (max-width:969px) {
  .vocab-quiz *:nth-child(2n) {
    border-right-width: 0px;
  }
}

@media screen and (min-width:970px) and (max-width:1200px) {
  .vocab-quiz *:nth-child(4n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4):focus {
    border-top:1px solid black;
  }
}

@media screen and (min-width:1200px) {
  .vocab-quiz *:nth-child(6n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6):focus {
    border-top:1px solid black;
  }
}
