/* CSS declarations go here */
/*
* Globals
*/

/* Links */
a.bright,
a.bright:focus,
a.bright:hover {
  color: #fff;
}

/* Custom default button */
.site-wrapper .btn-default,
.site-wrapper .btn-default:hover,
.site-wrapper .btn-default:focus, .dropdown-menu {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
* Base structure
*/

html,
body {
  height: 100%;
}
.site-wrapper {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  background-color: #333;

}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
* Header
*/
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.site-wrapper .nav > li {
  margin-top:6px;
}

.site-wrapper .nav > li > a {
  font-weight:bold;
  color: rgba(255, 255, 255, 0.74902);
}

.masthead-nav {
  margin-right:20px;
}

.masthead-nav > li {
  display: inline-block;
  margin-top:5px;
}

.masthead-nav > li + li {
  margin-left: 20px;
}

.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}

.additional-nav > li > a:hover,
.additional-nav > li > a:focus,
.additional-nav > li > a[aria-expanded="true"] {
  background-color:white;
  color:black !important;
  text-shadow:none;
  border-radius:4px;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead .nav {
    float: right;
  }
}


/*
* Cover
*/

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
* Footer
*/

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
* Affix and center
*/

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 960px;
  }
}

.main  {
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #136a8a 10%, #267871 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #136a8a 10%, #267871 90%); /* W3C */
  width:100%;
  height:100%;
}

/* Block Grids */
[class*="block-grid-"] {
  display: block;
  margin: -15px;
  padding: 0;
}
[class*="block-grid-"]:before,
[class*="block-grid-"]:after {
  content: " ";
  display: table;
}
[class*="block-grid-"]:after {
  clear: both;
}
.block-grid-item {
  display: inline;
  margin: 0;
  padding: 15px;
  height: auto;
  float: left;
  list-style: none;
}
.block-grid-xs-1 > .block-grid-item {
  width: 100%;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-1 > .block-grid-item:nth-of-type(1n+1) {
  clear: both;
}
.block-grid-xs-2 > .block-grid-item {
  width: 50%;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-2 > .block-grid-item:nth-of-type(2n+1) {
  clear: both;
}
.block-grid-xs-3 > .block-grid-item {
  width: 33.333333333333336%;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-3 > .block-grid-item:nth-of-type(3n+1) {
  clear: both;
}
.block-grid-xs-4 > .block-grid-item {
  width: 25%;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-4 > .block-grid-item:nth-of-type(4n+1) {
  clear: both;
}
.block-grid-xs-5 > .block-grid-item {
  width: 20%;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-5 > .block-grid-item:nth-of-type(5n+1) {
  clear: both;
}
.block-grid-xs-6 > .block-grid-item {
  width: 16.666666666666668%;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-6 > .block-grid-item:nth-of-type(6n+1) {
  clear: both;
}
.block-grid-xs-7 > .block-grid-item {
  width: 14.285714285714286%;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-7 > .block-grid-item:nth-of-type(7n+1) {
  clear: both;
}
.block-grid-xs-8 > .block-grid-item {
  width: 12.5%;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-8 > .block-grid-item:nth-of-type(8n+1) {
  clear: both;
}
.block-grid-xs-9 > .block-grid-item {
  width: 11.11111111111111%;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-9 > .block-grid-item:nth-of-type(9n+1) {
  clear: both;
}
.block-grid-xs-10 > .block-grid-item {
  width: 10%;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-10 > .block-grid-item:nth-of-type(10n+1) {
  clear: both;
}
.block-grid-xs-11 > .block-grid-item {
  width: 9.090909090909092%;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-11 > .block-grid-item:nth-of-type(11n+1) {
  clear: both;
}
.block-grid-xs-12 > .block-grid-item {
  width: 8.333333333333334%;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(n) {
  clear: none;
}
.block-grid-xs-12 > .block-grid-item:nth-of-type(12n+1) {
  clear: both;
}
@media (min-width: 768px) {
  .block-grid-sm-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-sm-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-sm-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-sm-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-sm-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-sm-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-sm-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-sm-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-sm-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-sm-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-sm-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-sm-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-sm-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-sm-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-sm-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-sm-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-sm-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-sm-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-sm-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-sm-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-sm-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-sm-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-sm-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-sm-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-sm-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}
@media (min-width: 992px) {
  .block-grid-md-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-md-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-md-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-md-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-md-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-md-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-md-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-md-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-md-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-md-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-md-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-md-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-md-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-md-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-md-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-md-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-md-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-md-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-md-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-md-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-md-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-md-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-md-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-md-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-md-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}
@media (min-width: 1200px) {
  .block-grid-lg-1 > .block-grid-item {
    width: 100%;
  }
  .block-grid-lg-1 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-1 > .block-grid-item:nth-of-type(1n+1) {
    clear: both;
  }
  .block-grid-lg-2 > .block-grid-item {
    width: 50%;
  }
  .block-grid-lg-2 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-2 > .block-grid-item:nth-of-type(2n+1) {
    clear: both;
  }
  .block-grid-lg-3 > .block-grid-item {
    width: 33.333333333333336%;
  }
  .block-grid-lg-3 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-3 > .block-grid-item:nth-of-type(3n+1) {
    clear: both;
  }
  .block-grid-lg-4 > .block-grid-item {
    width: 25%;
  }
  .block-grid-lg-4 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-4 > .block-grid-item:nth-of-type(4n+1) {
    clear: both;
  }
  .block-grid-lg-5 > .block-grid-item {
    width: 20%;
  }
  .block-grid-lg-5 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-5 > .block-grid-item:nth-of-type(5n+1) {
    clear: both;
  }
  .block-grid-lg-6 > .block-grid-item {
    width: 16.666666666666668%;
  }
  .block-grid-lg-6 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-6 > .block-grid-item:nth-of-type(6n+1) {
    clear: both;
  }
  .block-grid-lg-7 > .block-grid-item {
    width: 14.285714285714286%;
  }
  .block-grid-lg-7 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-7 > .block-grid-item:nth-of-type(7n+1) {
    clear: both;
  }
  .block-grid-lg-8 > .block-grid-item {
    width: 12.5%;
  }
  .block-grid-lg-8 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-8 > .block-grid-item:nth-of-type(8n+1) {
    clear: both;
  }
  .block-grid-lg-9 > .block-grid-item {
    width: 11.11111111111111%;
  }
  .block-grid-lg-9 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-9 > .block-grid-item:nth-of-type(9n+1) {
    clear: both;
  }
  .block-grid-lg-10 > .block-grid-item {
    width: 10%;
  }
  .block-grid-lg-10 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-10 > .block-grid-item:nth-of-type(10n+1) {
    clear: both;
  }
  .block-grid-lg-11 > .block-grid-item {
    width: 9.090909090909092%;
  }
  .block-grid-lg-11 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-11 > .block-grid-item:nth-of-type(11n+1) {
    clear: both;
  }
  .block-grid-lg-12 > .block-grid-item {
    width: 8.333333333333334%;
  }
  .block-grid-lg-12 > .block-grid-item:nth-of-type(n) {
    clear: none;
  }
  .block-grid-lg-12 > .block-grid-item:nth-of-type(12n+1) {
    clear: both;
  }
}

/* Icons */
.icon img {
  width:100%;
}

.icon img:hover {
  padding-top:30px;
  padding-bottom:30px;
  padding-left:30px;
  padding-right:30px;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 0.5s;
}

.navbar ~ * {
  padding-top:50px;
}

.st-container, .st-pusher, .st-menu {
  height:100%;
}

.st-menu {
  background-color:#48a770;
}

.st-menu h2 {
  color: rgba(0,0,0,0.4);
}

.grid, .st-content {
  padding-top:15px;
}
