$table-bg-active: #E3F2FF;
$panel-footer-padding: 6px 10px;
@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";
@import "http://fonts.googleapis.com/css?family=Lobster|Titillium+Web";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

.row {
	margin-left:0;
	margin-right:0;
}

.navbar-brand {
	font-family:"Lobster";
	font-size:30px;
}

.login-container {
	padding:30px;
	border:1px solid #b3b3b3;
	background-color:white;
	margin-top:70px;
}

.topbar {
	background-color:white;
	border-bottom:1px solid #b3b3b3;
	width:100%;
	height:100px;
}

.about-me-link {
	position:absolute;
	top:40px;
	font-size:15px;
	right:30px;
}

.login-info {
	margin-top:20px;
	font-size:18px;
}

html, body, .contents, .page-wrapper {
	height:100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
	background-color:whitesmoke;
}

$sidebar-width: 270px;

.page-wrapper {
	//padding-left:$sidebar-width;
	width:100%;
	background-color:white;
}

.sidebar {
	width:$sidebar-width;
	margin-left:-$sidebar-width;
	position:fixed;
	height:100%;
	background-color:#0D2D4F;
	display:none;
}

.sidebar-nav {
	list-style-type:none;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:25px;
	padding-right:25px;
}

.sidebar-nav > li {
	min-height:33px;
}

.sidebar-nav > li > ul {
	padding-left:27px;
	padding-top:5px;
}

.sidebar-nav > li > ul > li > a {
	font-size:15px;
	color: rgba(255, 255, 255, 0.73);
}

.sidebar-nav > li > a, .sidebar-nav > li > span > a, .sidebar-nav .header {
	color:rgba(255,255,255,0.73);;
	padding-top:8px;
}

.sidebar-nav li.header {
	font-family: "Arial";
	text-transform:uppercase;
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
}

.sidebar-nav > li {
	font-weight:300;
	position:relative;
	padding-top:5px;
	border-radius:5px;
}

.sidebar-nav > li > a {
	padding-left:20px;
	padding-right:20px;
	padding-top:0;
	display:inline-block;
	width:100%;
	height:100%;
}

.sidebar-nav > li.active::before {
	background-color:rgba(244,106,106,0.84);
	width:100%;
	height:31px;
	z-index:-10;
	content:"";
	border-radius:5px;
	position:absolute;
	top:1px;
	left:0;
}

.sidebar-nav li.header {
	padding-top:14px;
}

.sidebar-nav > li.active > a {
	color:white;
	z-index:20;
}

.sidebar-nav > li:not(.header):not(.active):not(.all):hover::before {
	width:100%;
	height:31px;
	z-index:-10;
	content:"";
	border-radius:5px;
	position:absolute;
	top:1px;
	left:0;
	background-color:rgba(255,255,255,0.15);
}

.sidebar-nav li.header, .sidebar-nav > li a {
	text-decoration:none;
}

.sidebar-nav > li a {
	font-size:17px;
	font-family:"Helvetica";
	/*padding-left:17px;*/
}

.contents {
	//padding-top:17px;
	width:100%;
}

.users .btn-link:hover {
	text-decoration:none;
}

.users .btn-link.active {
	font-weight:bold;
}

.btn-edit {
	background-color:#6F7F80;
	border-color:#6A6868;
	color:white;
}

.btn-edit:hover {
	color:white;
	background-color:#5E6768;
}

.panel-sup {
	padding-top:7px;
	display:inline-block;
 }

.users .panel-heading {
	height:50px;
}

.fixed {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

.nav-tabs .dropdown-menu {
	margin-top:2px;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.note-toolbar.btn-toolbar {
	margin-left:0px;
	border-top-left-radius:$input-border-radius;
	border-top-right-radius:$input-border-radius;
}

.note-editable {
	height:300px;
}

.panel.files .panel-heading {
	padding:0px;
}

.panel.files .panel-heading ol.breadcrumb {
	margin-bottom:0px;
}

.note-editor {
	border-radius:$input-border-radius;
}

.breadcrumb > li + li:before {
	content:"/\00a0";
}

.input-group-btn .btn {
	height:34px;
}

.file-uploads {
	margin-top:10px;
}

.filename {
	position:relative;
	left:4px;
	top:7px;
}

.filename a, .filename a:hover {
	color:rgb(51,51,51);
}

.filesize {
	margin-top:6px;
	display:inline-block;
}

.create-new-folder input, .bb input {
	width:calc(100% - 40px);
	display:inline-block;
}

.create-new-folder i, .bb i {
	position:relative;
	top:5px;
}

textarea {
	resize: vertical;
}

.container-notices {
	max-width:760px;
	margin-left:auto;
	margin-right:auto;	
}

.space {
	margin-top:6px;
	display:block;
}

.hey .btn {
	padding:10px;
}

.topbar {
	//height: 59px;
	width:100%;
	//background-color:rgba(13,45,79,0.26);
	//border-bottom:1px solid #0D2D4F;
	/* start new */
	height:52px;
	background-color:#7B6260;	
	border:none;
	box-shadow:0px -3px 4px 0px rgba(0,0,0,0.50);
	/* end new */
	position:relative;
	top:-17px;
}

.cover-image, .cover-image-container {
	width:100%;
	height:300px;
}

.cover-image-container {
	background:rgba(0,0,0,0.33);
	display:inline-flex;
}

.cover-image {
	background-image: url("/flowers.png");
	background-size: 100% 300px;
}

.cover-info {
	margin-top:auto;
	margin-bottom:auto;
	width:100%;
	text-align:center;
	color:white;
}

.cover-title {
	font-size:72px;
	font-weight:300;
}

.cover-subtitle {
	font-size:24px;
	font-weight:bold;
}

.cover-image-container * {
	z-index:5;
}

.topbar ul {
	list-style-type:none;
}

.topbar ul li {
	margin-top:14px;
	margin-left:15px;
	margin-right:15px;
	font-size:14px;
	display:inline-block;
	width:120px;
	border-radius:4px;
}

.topbar ul li a {
	color:rgba(255,255,255, 0.53);
	padding-top:4px;
	padding-bottom:4px;
	padding-left:12px;
	padding-right:12px;
	display:inline-block;
	height:100%;
	width:100%;
	text-transform:uppercase;
}

.topbar ul li.active a {
	color:white;
}

.topbar ul li a:hover, .topbar ul li a:active {
	text-decoration:none;
}

.container-small {
	margin-left:auto;
	margin-right:auto;
	max-width:760px;
}

.thumbnail h3 {
	margin-top:0px;
}

.super {
	overflow:auto;
}

.icon {
	height:100%;
	width:100%;
}

.first {
	width:44px;
	padding-left:2px;
	padding-top:3px;
	float:left;
}

.after {
	width:calc(100% - 61px);
	float:right;
}

.notice-link {
	color:#2A80B9;
	font-weight:bold;
}

.notice-embed {
	border-left: 5px solid #CCC;
	padding-left:10px;
}

.notice-link {
	margin-bottom:4px;
}

.info {
	color:#9E9EA6;
}

.contents.contents-other {
	overflow:scroll;
}

.contents.contents-other .search, .contents.contents-other .search::-webkit-input-placeholder, .contents.contents-other .search:-moz-placeholder, .contents.contents-other .search::-moz-placeholder, .contents.contents-other .search:-ms-input-placeholder {
	color:black;
	opacity:1;
}

.panel-super {
	background:none;
}

.panel-super .panel-body, .panel-super table {
	background-color:white;
}

.panel-super div:first-child {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.panel-super .panel-heading {
	background:rgba(215,215,215,0.81);
	border-color:black;
}

.contents.contents-other input:focus {
	background-color:white;
}

.panel-super .breadcrumb {
	background:none;
}

.panel-super .panel-footer {
	background-color:rgba(215,215,215,0.81);
	border-color:#0D2D4F;
	padding-top:7px;
	padding-bottom:6px;
}

.panel .panel-footer .btn.btn-link {
	padding-top:0;
	padding-bottom:0;
}

.panel-super div:last-child {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.media-object {
	max-height:64px;
}

.show-image, .show-youtube {
	cursor: pointer;
}

#show-image img {
	max-width:100%;
}

#show-image .modal-body {
	text-align:center;
}

#show-youtube .modal-body .videoContainer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#show-youtube .modal-body .videoContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
	outline:none	!important;
}

.circle {
	display:none;
	background-color:#F05D5D !important;
	width:20px !important;
	height:20px !important;
	border-radius:10px !important;
	text-align:center;
	color:white;
	font-size:14px;
	padding-top:1px;
}

.files tr.folder:not(.active).ui-hover {
	background-color:#DAFCC1;
	border-color: #84B47C;
}

.files tr.folder:not(.active).ui-hover ~ tr {
	border-color:#84B47C;
}

.zeplin {
	display:inline;
	width:300px;
}

.filename {
	cursor:default;
}

.questions.panel-body {
	padding:0px;
	padding-top:15px;
}

.question-list .question {
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}

.question.active {
	background:#f5f5f5;
}

.question-list:not(.in-progress) .question:hover {
	background:#f5f5f5;
}

.form-bottom {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-top:15px;
}

.question-list:not(.in-progress) .question:not(.active) {
	cursor:move;
}

.question-list:not(.in-progress) .question:not(.active) input[disabled] {
	cursor: move !important;
}

.question:not(.active) input.form-control[disabled] {
	background-color:white;
}

.question:not(:hover) .btn.edit, .question:not(:hover) .btn.del,
.question-list.in-progress .question .btn.edit, .question-list.in-progress .question .btn.del {
	display:none;	
}

.question .btn.edit, .question .btn.del {
	background: #f5f5f5;
}

.question.active .add-option[disabled] {
	cursor: pointer !important;
}

[contenteditable].form-control {
	height:auto;
}

.green {
	color: #119F11;
	font-weight: bold;
}

.fill-me {
	max-width: 150px;
	display:inline-block;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
}

.just-text {
	line-height:35px;
}

.vocab-unit td:nth-child(-n+2) {
	padding:0px !important;
}

.vocab-question, .vocab-answer {
	width:100%;
	border:0;
	padding:8px;
}

.vocab-quiz *, .vocab-quiz input:focus {
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-left:0px;
  border-top:0px;
  text-overflow:ellipsis;
  height:30px;
}

.vocab-quiz-long input, .vocab-quiz-long input:focus {
  border-right:0;
}

.vocab-quiz input {
  outline:none;
}

.vocab-quiz div {
  line-height:30px;
  white-space:nowrap;
  overflow:hidden;
  background-color:goldenrod;
}

.vocab-quiz div:nth-child(3n-2) {
	border-left: 1px solid black;	
}

.vocab-quiz input:nth-child(3n) {
	border-right: 1px solid black;
}

.vocab-quiz input.correct {
  background-color:lightgreen;
}

.vocab-quiz input.incorrect {
  background-color:#ef3d47;
}

.vocab-quiz *:nth-child(-n+2), .vocab-quiz *:nth-child(-n+2):focus {
  border-top:1px solid black;
}

@media screen and (max-width:969px) {
  .vocab-quiz *:nth-child(2n) {
    border-right-width: 0px;
  }
}

@media screen and (min-width:970px) and (max-width:1200px) {
  .vocab-quiz *:nth-child(4n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+4):focus {
    border-top:1px solid black;
  }
}

@media screen and (min-width:1200px) {
  .vocab-quiz *:nth-child(6n) {
    border-right-width: 0px;
  }
  .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6), .vocab-quiz:not(.vocab-quiz-long) *:nth-child(-n+6):focus {
    border-top:1px solid black;
  }
}

.ui-sortable-helper {
    display: table;
}

.vocab-questions tr {
	background:white;
}

.path {
	font-size:20px;
	margin-top: 5px;
	margin-left: 4px;
}

.files thead tr {
	background-color:#F7F7F7;
}

thead tr th {
	border-bottom-width:1px !important;
}

.panel-footer .btn.btn-link {
	padding-left:5px;
	padding-right:5px;
}

.files tbody tr {
	height:40px;
} 

.files tbody tr td:first-child, .files thead tr th:first-child {
	width:40px;
	font-size:24px;
	padding:0px;
	padding-left:10px;
}

.files tbody tr td:nth-child(2) {
	padding-left:5px;
	padding-top:4px;
	padding-bottom:4px;
}

.files tbody tr td:nth-child(1) {
	padding-top:3px;
}

.images {
	padding-top:6px;
}

.notice-image .info {
	margin-top:5px;
}

.topbit {
	margin-bottom:18px;
}

.open-drawer {
    color: white;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 25px;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
