$table-bg-active: #4285F4;
@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap";
@import "http://fonts.googleapis.com/css?family=Lobster|Titillium+Web";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

.row {
	margin-left:0;
	margin-right:0;
}

.navbar-brand {
	font-family:"Lobster";
	font-size:30px;
}

.login-container {
	padding:30px;
	border:1px solid #b3b3b3;
	background-color:white;
	margin-top:70px;
}

.topbar {
	background-color:white;
	border-bottom:1px solid #b3b3b3;
	width:100%;
	height:100px;
}

.about-me-link {
	position:absolute;
	top:40px;
	font-size:15px;
	right:30px;
}

.login-info {
	margin-top:20px;
	font-size:18px;
}

html, body, .contents, .page-wrapper {
	height:100%;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
	background-color:whitesmoke;
}

$sidebar-width: 270px;

.page-wrapper {
	padding-left:$sidebar-width;
	width:100%;
	background-color:white;
}

.sidebar {
	width:$sidebar-width;
	margin-left:-$sidebar-width;
	position:fixed;
	height:100%;
	background-color:#0D2D4F;
}

.sidebar-nav {
	list-style-type:none;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:25px;
	padding-right:25px;
}

.sidebar-nav > li {
	min-height:33px;
}

.sidebar-nav > li > ul {
	padding-left:27px;
	padding-top:5px;
}

.sidebar-nav > li > ul > li > a {
	font-size:15px;
	color: rgba(255, 255, 255, 0.73);
}

.sidebar-nav > li > a, .sidebar-nav > li > span > a, .sidebar-nav .header {
	color:rgba(255,255,255,0.73);;
	padding-top:8px;
}

.sidebar-nav li.header {
	font-family: "Arial";
	text-transform:uppercase;
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
}

.sidebar-nav > li {
	font-weight:300;
	position:relative;
	padding-top:5px;
	border-radius:5px;
}

.sidebar-nav > li > a {
	padding-left:20px;
	padding-right:20px;
	padding-top:0;
	display:inline-block;
	width:100%;
	height:100%;
}

.sidebar-nav > li.active::before {
	background-color:rgba(244,106,106,0.84);
	width:100%;
	height:31px;
	z-index:-10;
	content:"";
	border-radius:5px;
	position:absolute;
	top:1px;
	left:0;
}

.sidebar-nav li.header {
	padding-top:14px;
}

.sidebar-nav > li.active > a {
	color:white;
	z-index:20;
}

.sidebar-nav > li:not(.header):not(.active):not(.all):hover::before {
	width:100%;
	height:31px;
	z-index:-10;
	content:"";
	border-radius:5px;
	position:absolute;
	top:1px;
	left:0;
	background-color:rgba(255,255,255,0.15);
}

.sidebar-nav li.header, .sidebar-nav > li a {
	text-decoration:none;
}

.sidebar-nav > li a {
	font-size:17px;
	font-family:"Helvetica";
	/*padding-left:17px;*/
}

.contents {
	padding-top:17px;
	width:100%;
}

.users .btn-link:hover {
	text-decoration:none;
}

.users .btn-link.active {
	font-weight:bold;
}

.btn-edit {
	background-color:#6F7F80;
	border-color:#6A6868;
	color:white;
}

.btn-edit:hover {
	color:white;
	background-color:#5E6768;
}

.panel-sup {
	padding-top:7px;
	display:inline-block;
 }

.users .panel-heading {
	height:50px;
}

.fixed {
	max-width:960px;
	margin-left:auto;
	margin-right:auto;
}

.nav-tabs .dropdown-menu {
	margin-top:2px;
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}

.note-toolbar.btn-toolbar {
	margin-left:0px;
	border-top-left-radius:$input-border-radius;
	border-top-right-radius:$input-border-radius;
}

.note-editable {
	height:300px;
}

.panel.files .panel-heading {
	padding:0px;
}

.panel.files .panel-heading ol.breadcrumb {
	margin-bottom:0px;
}

.note-editor {
	border-radius:$input-border-radius;
}

.breadcrumb > li + li:before {
	content:"/\00a0";
}

.input-group-btn .btn {
	height:34px;
}

.file-uploads {
	margin-top:10px;
}

.filename {
	position:relative;
	top:-4px;
	left:4px;
}

.filename a, .filename a:hover {
	color:rgb(51,51,51);
}

.filesize {
	margin-top:6px;
	display:inline-block;
}

.create-new-folder input, .bb input {
	width:calc(100% - 40px);
	display:inline-block;
}

.create-new-folder i, .bb i {
	position:relative;
	top:5px;
}

textarea {
	resize: vertical;
}

.container-notices {
	max-width:760px;
	margin-left:auto;
	margin-right:auto;	
}

.space {
	margin-top:6px;
	display:block;
}

.hey .btn {
	padding:10px;
}

.topbar {
	height: 59px;
	width:100%;
	background-color:rgba(13,45,79,0.26);
	border-bottom:1px solid #0D2D4F;
	position:relative;
	top:-17px;
}

.topbar ul {
	list-style-type:none;
}

.topbar ul li {
	margin-top:14px;
	margin-left:15px;
	margin-right:15px;
	font-size:16px;
	display:inline-block;
	width:120px;
	border-radius:4px;
}

.topbar ul li a {
	color:black;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:12px;
	padding-right:12px;
	display:inline-block;
	height:100%;
	width:100%;
}

.topbar ul li.active a {
	font-weight:bold;
}

.topbar ul li:not(.active):hover {
	background-color:rgba(13,45,79,0.27);
	text-decoration:none;
}

.topbar ul li a:hover, .topbar ul li a:active {
	text-decoration:none;
}

.container-small {
	margin-left:auto;
	margin-right:auto;
	max-width:760px;
}

.thumbnail h3 {
	margin-top:0px;
}

.super {
	overflow:auto;
}

.icon {
	height:100%;
	width:100%;
}

.first {
	padding-left:0px;
	padding-right:0px;
}

.panel-super {
	border-color:#0D2D4F;
}

.contents.contents-other {
	background-color:rgba(55, 134, 168,0.6);
}

.contents.contents-other .search {
	background-color:rgba(224, 222,222,1);
	border-color:black;
}

.contents.contents-other .btn-success {
	background:rgba(62,179,60,0.63);
	border-color:rgba(50,49,49,0.98);
}

.contents.contents-other .search, .contents.contents-other .search::-webkit-input-placeholder, .contents.contents-other .search:-moz-placeholder, .contents.contents-other .search::-moz-placeholder, .contents.contents-other .search:-ms-input-placeholder {
	color:black;
	opacity:1;
}

.panel-super {
	background:none;
}

.panel-super .panel-body, .panel-super table {
	background-color:white;
}

.panel-super div:first-child {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.panel-super .panel-heading {
	background:rgba(215,215,215,0.81);
	border-color:black;
}

.contents.contents-other input:focus {
	background-color:white;
}

.panel-super .breadcrumb {
	background:none;
}

.panel-super .panel-footer {
	background-color:rgba(215,215,215,0.81);
	border-color:#0D2D4F;
	padding-top:7px;
	padding-bottom:6px;
}

.panel-super .panel-footer .btn.btn-link {
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	color: rgba(0,0,0,0.73);
}

.panel-super div:last-child {
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}

.media-object {
	max-height:64px;
}

.show-image, .show-youtube {
	cursor: pointer;
}

#show-image img {
	max-width:100%;
}

#show-image .modal-body {
	text-align:center;
}

#show-youtube .modal-body .videoContainer {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#show-youtube .modal-body .videoContainer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button {
	outline:none	!important;
}

.circle {
	display:none;
	background-color:#F05D5D !important;
	width:20px !important;
	height:20px !important;
	border-radius:10px !important;
	text-align:center;
	color:white;
	font-size:14px;
	padding-top:1px;
}

.files tr.folder:not(.active).ui-hover {
	background-color:#DAFCC1;
	border-color: #84B47C;
}

.files tr.folder:not(.active).ui-hover ~ tr {
	border-color:#84B47C;
}

.zeplin {
	display:inline;
	width:300px;
}

.filename {
	cursor:default;
}

.questions.panel-body {
	padding:0px;
	padding-top:15px;
}

.question {
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
}

.question.active {
	background:#f5f5f5;
}

.question:hover {
	background:#f5f5f5;
}

.form-bottom {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-top:15px;
}

.question:not(.active) {
	cursor:move;
}

.question:not(.active) input[disabled] {
	cursor: move !important;
}

.question:not(.active) input.form-control[disabled] {
	background-color:white;
}

.question:not(:hover) .btn.edit, .question:not(:hover) .btn.del {
	display:none;	
}

.question .btn.edit, .question .btn.del {
	background: #f5f5f5;
}

.question.active .add-option[disabled] {
	cursor: pointer !important;
}

[contenteditable].form-control {
	height:auto;
}

.green {
	color: #119F11;
	font-weight: bold;
}
