<div class="panel panel-default">
  <div class="panel-heading">
  Change Password
  <div class="pull-right">
    <a href="/"><i class="fa fa-times"></i></a>
  </div>
  </div>
  <div class="panel-body">
  <form>
    {{#error}}
      <p class="text-danger">{{error}}</p>
    {{/error}}
    <div class="form-group">
      <label>Old Password</label>
      <input type="password" class="form-control old-password">
    </div>
    <div class="form-group">
      <label>New Password</label>
      <input type="password" class="form-control new-password">
    </div>
    <button type="button" class="btn btn-primary submit">Submit</button>
    <button type="reset" class="btn reset">Reset</button>
  </form>
  </div>
</div>
