<div class="panel panel-primary">
  <div class="panel-heading">
    Crossword
    <div class="pull-right">
      <a href="/courses/{{id}}/vocab_quizzes">
        <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  {{#model}}
  <div class="panel-body">
    <div class="row">
      {{#can.put}}
      <div class="col-md-12">
        <a href="/courses/{{id}}/vocab_quizzes/{{index}}/edit" class="btn btn-sm btn-warning">Edit</a>
        <button type="button" class="btn btn-sm btn-danger del">Delete</a>
        </div>
        {{/can.put}}
      </div>
      <h1>{{title}}</h1>
      {{#clues}}
        <div class="input-group">
          <span class="input-group-addon"><b>{{label}} {{name}}:</b> {{info}}</span>
          <input type="text" class="input-md form-control">
          <span class="input-group-btn">
            <button class="btn btn-success enter" data-index="{{index}}" type="button">Enter</button>
          </span>
        </div>
        <br>
      {{/clues}}
      <div class="crossword"></div>
      {{/model}}
    </ul>
  </div>
