<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">Performance Graph</h3>
  <div class="pull-right">
    <a href="/courses/{{id}}/quizzes">
      <i class="fa fa-times"></i>
    </a>
  </div>
</div>
<div class="svg panel-body">

</div>
