<td><input type="text" class="title form-control"></td>
<td><input type="text" class="url form-control"></td>
<td><button type="button" class="btn btn-link remove"><i class="fa fa-times"></i></button></td>
