<div class="panel panel-primary">
  <div class="panel-heading">
	{{title}}
  {{#can.post}}
  	<div class="pull-right">
  	  <a href="/courses/{{id}}/{{section}}/create">
  		<i class="fa fa-plus"></i>
  	  </a>
  	</div>
  {{/can.post}}
  </div>
  <ul class="list-group">
	{{#data}}
	  <li class="list-group-item">
		<a href="/courses/{{id}}/{{section}}/{{index}}">
		  {{title}}
		</a>
	  </li>
	{{/data}}
  </ul>
</div>
