<div class="row">
  <div class="col-md-3 col-md-offset-9">
	<div class="pull-right">
	  <div class="btn-group">
		<button type="button" class="grid btn btn-primary active">Grid</button>
		<button type="button" class="list btn btn-primary">List</button>
	  </div>
	  <a href="/create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
	</div>
  </div>
</div>
<div class="row">
  {{^data}}

    <div class="col-md-12">
    <div class="alert alert-info" role="alert">No courses have been allocated to you yet.</div>
    </div>
  {{/data}}
  {{#grid}}
  <div class="block-grid-xl-6 block-grid-lg-4 block-grid-sm-4 block-grid-xs-2">

	{{#data}}
  	  <div class="block-grid-item icon">
    		<a href="/courses/{{_id}}/blog">
    		  <img src="/icons/{{icon}}.png" alt="{{icon}}">
    		</a>
  	  </div>
	{{/data}}
</div>

  {{/grid}}
  {{^grid}}
  <div class="row">

	<div class="col-sm-12 col-md-12">
	  <ul class="list-group">
		{{#data}}
		  <a href="/courses/{{_id}}/blog">
		    <li class="list-group-item">{{title}}</li>
		  </a>
		{{/data}}
	  </ul>
	</div>
</div>
  {{/grid}}
</div>
