{{#model}}
  <div class="col-md-12">
    <input type="{{container.container.question.answer_type}}" class="correct" name="question{{container.container.question.number}}" {{#correct}}selected{{/correct}}/>
    {{title}}
  </div>
{{/model}}
