<div class="panel panel-primary">
  <div class="panel-heading">
	Blog
	<div class="pull-right">
	  <a href="/courses/{{id}}/blog">
		<i class="fa fa-times"></i>
	  </a>
	</div>
  </div>
  {{#data}}
	<div class="panel-body">
	  <div class="row">
    {{#can.put}}
  		<div class="col-md-offset-10 col-md-1">
  		  <button type="button" class="btn btn-sm btn-warning pull-right">Edit</button>
  		</div>
  		<div class="col-md-1">
  		  <a href="/courses/{{id}}/blog/{{index}}/edit" class="btn btn-sm btn-danger pull-right del">Delete</a>
  		</div>
    {{/can.put}}
	  </div>
	  <h1>{{title}}</h1>
	  <div class="blog-post-meta">
		<i class="fa fa-clock-o"></i> Posted on {{date}}
	  </div>
	  <p class="post">{{& content.html}}
	</div>
  {{/data}}
  </ul>
</div>
