<div class="row">
  {{#model}}
  <div class="col-md-12">
    <div class="form-group {{#_id}}{{#correct}}has-success{{/correct}}{{^correct}}has-error{{/correct}}{{/_id}}">
    <h3>Question {{question.number}}</h3>
    <label class="control-label">
      {{& question.content.html}}
    </label>
    {{#question.isText}}
      <input class="form-control answer_text" value="{{answer_text}}" {{#readOnly}}readonly{{/readOnly}} type="text"/>
    {{/question.isText}}
    {{#question.isNumber}}
      <input class="form-control answer_number" value="{{answer_number}}" {{#readOnly}}readonly{{/readOnly}} type="number"/>
    {{/question.isNumber}}
    {{#question.isRadio}}
      <div class="row options"></div>
    {{/question.isRadio}}
    {{#question.isCheckbox}}
      <div class="row options"></div>
    {{/question.isCheckbox}}
  </div>
  </div>
  {{/model}}
</div>
