<div class="row">
  {{#model}}
  <div class="col-md-12">
    <h3>Question {{question.number}}</h3>
    <p>
      {{question.content.html}}
    </p>
    <div class="form-group {{#correct}}has-success{{/correct}}{{^correct}}has-error{{/correct}}">
    {{#question.isText}}
      <input class="form-control answer_text" value="{{answer_text}}" {{#readOnly}}readonly{{/readOnly}} type="text"/>
    {{/question.isText}}
    {{#question.isNumber}}
      <input class="form-control answer_number" value="{{answer_number}}" {{#readOnly}}readonly{{/readOnly}} type="number"/>
    {{/question.isNumber}}
    {{#question.isRadio}}
      <div class="row">
        {{#question.options}}
            <div class="col-md-2">
              <input type="radio" value="{{title}}"/>
            </div>
            <div class="col-md-10">
              {{title}}
            </div>
          {{/question.options}}
        </div>
    {{/question.isRadio}}
    {{#question.isCheckbox}}
      <div class="row">
        {{#question.options}}
            <div class="col-md-2">
              <input type="checkbox" value="{{title}}"/>
            </div>
            <div class="col-md-10">
              {{title}}
            </div>
          {{/question.options}}
        </div>
    {{/question.isCheckbox}}
  </div>
  </div>
  {{/model}}
</div>
