<div class="panel panel-primary">
  <div class="panel-heading">
  Quiz Results
    <div class="pull-right">
      <a href="/courses/{{id}}/{{section}}/{{index}}">
      <i class="fa fa-times"></i>
      </a>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <select class="criterion form-control">
          <option value="best" {{#best}}selected{{/best}}>Best Score</option>
          <option value="average" {{#average}}selected{{/average}}>Average Score</option>
          <option value="first" {{#first}}selected{{/first}}>First Score</option>
        </select>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Best Score</th>
        </tr>
      </thead>
      <tbody>
        {{#attempts}}
          <tr>
            <td>{{user}}</td>
            <td>{{score}}</td>
          </tr>
        {{/attempts}}
      </tbody>
    </table>
  </div>
</div>
