<div class="panel panel-primary">
  <div class="panel-heading">
  Random Name Generator
  </div>
  <div class="panel-body">
    <div class="text-center text-lg name">~</div>
    <div class="text-center">
      <button type="button" class="start btn btn-primary">Start</button>
      <button type="button" class="stop btn btn-primary">Stop</button>
    </div>
  </div>
</div>
