<div class="panel panel-primary">
  <div class="panel-heading">
  Settings
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-danger del">Delete Course</button>
  </div>
</div>
