<div class="panel panel-primary">
  <div class="panel-heading">
  Settings
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody class="links">

      </tbody>
    </table>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-sm add-link">Add Link</button>
        <button type="button" class="btn btn-primary save-links btn-sm">Save Links</button>
      </div>
    </div>
    <button type="button" class="btn btn-danger del">Delete Course</button>
  </div>
</div>
