<div class="panel panel-primary">
  <div class="panel-heading">Students</div>
  <ul class="list-group">
    {{#model}}
      <li class="list-group-item"><a href="mailto:{{name}}@whsb.essex.sch.uk">{{name}}</a></li>
    {{/model}}
  </ul>
</div>
