<div class="panel panel-primary">
  <div class="panel-heading">Students
  <div class="pull-right">
    <a href="/users/create">
    <i class="fa fa-plus"></i>
    </a>
  </div>
  </div>
    <ul class="list-group">
      {{#model}}
        <li class="list-group-item"><a href="/users/{{_id}}">{{name}}</a></li>
      {{/model}}
    </ul>
</div>
