<div class="panel panel-primary">
  <div class="panel-heading">
	Vocabulary Quizzes
  	<div class="pull-right">
  	  <a href="/courses/{{id}}/vocab_quizzes">
  		<i class="fa fa-times"></i>
  	  </a>
  	</div>
  </div>
  <div class="panel-body">
	{{#data}}
    <div class="row">
      <div class="col-md-12">
        {{#can.put}}
          <a href="/courses/{{id}}/vocab_quizzes/{{index}}/edit" class="btn btn-sm btn-warning">Edit</a>
          <button type="button" class="btn btn-sm btn-danger del">Delete</button>
        {{/can.put}}
        <button type="button" class="btn btn-sm btn-primary reset">Reset</button>
        <button type="button" class="btn btn-sm btn-primary answers">Reveal Answers</button>
      </div>
    </div>
	  <h1>{{title}}</h1>
	  <div class="row vocab-quiz {{#long}}vocab-quiz-long{{/long}}">
		{{#questions}}
		  <div class="{{#long}}col-md-6{{/long}}{{^long}}col-md-2{{/long}}">{{question}}</div>
		  <input type="text" class="{{#long}}col-md-6{{/long}}{{^long}}col-md-2{{/long}}" data-answer="{{answer}}">
		{{/questions}}
	  </div>
	{{/data}}
  </div>
</div>
