body {
	padding-top:70px;
  background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #4b6cb7 10%, #182848 90%); /* W3C */
}

body.loggedIn {
  background: -webkit-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
	background: -moz-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
	background: -ms-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
	background: -o-linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
	background: linear-gradient(90deg, #5D4157 10%, #A8CABA 90%);
}

.icon img {
	width:100%;
}

.logInForm {
	background-image: url(http://subtlepatterns.com/patterns/notebook.png);
}

.logInForm input, .logInForm input:focus {
border:1px solid #999;
}

.icon img:hover {
	padding-top:30px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	-webkit-transition-property: padding;
	-webkit-transition-duration: 0.5s;
}

.row {
	margin-bottom:5px;
}

[contenteditable] {
	display: block;
	width: 100%;
	min-height:100px;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline:none;
}

.editor-preview {
	font-size:20px;
}

.blog-post-meta {
	margin-bottom:20px;
	color:#999;
}

.vocab-quiz *, .vocab-quiz input:focus {
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:0px;
	border-top:0px;
	height:30px;
}

.vocab-quiz input {
	outline:none;
}

.vocab-quiz *:nth-child(-n+6), .vocab-quiz *:nth-child(-n+6):focus {
	border-top:1px solid black;
}

.vocab-quiz div {
	padding-top:4px;
	background-color:goldenrod;
}

.vocab-quiz *:nth-child(6n) {
	border-right-width: 0px;
}

.vocab-quiz input.correct {
	background-color:lightgreen;
}

.vocab-quiz input.incorrect {
	background-color:#ef3d47;
}

.preview-latex {
	overflow: hidden;
	white-space: nowrap;
  text-overflow:ellipsis;
	height:30px;
}

.post {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.post iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 15px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
